@font-face {
    font-family: 'Fraunces-ThinItalic' ;
    src: url(../font/Fraunces_72pt_SuperSoft-SemiBold.ttf);
}

@font-face {
    font-family: 'Barlow-Bold' ;
    src: url(../font/Barlow-Bold.ttf);
}
